* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-image: url("https://t3.ftcdn.net/jpg/01/11/85/74/360_F_111857497_rwca7uWf5ngzyutIUf2jlsvUovOBTiVA.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.quote-container {
 transform: rotate(350deg);
  position: relative;
  background: linear-gradient(90deg,rgb(240, 191, 240),rgb(175, 238, 175)); 
  width: 450px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: slideIn 0.5s ease-out; 
}


.quote-text {
  font-size: 20px;
  font-style: italic;
  color: #3f3e3e;
  margin-bottom: 10px;
  margin-top: 20px;
  transition: transform 0.3s ease-in-out;
}

.quote-author {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
}

.quote-text:hover {
  transform: scale(1.05); 
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #ff7f50; 
  transform: scale(1.1); 
}

button:focus {
  outline: none;
}

button.get-quote {
  background-color: #4CAF50;
  color: white;
  margin-bottom: 20px;
}

button.get-quote:hover {
  background-color: #45a049;
}

button.tweet-quote {
  background-color: rgb(248, 170, 248);
  color: black;
  margin-left: 50px;
}

button.tweet-quote:hover {
  background-color: rgb(241, 167, 241);
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} 